<%- include('./common/header.ejs')%>
    <div class="container-fluid bg-dark">
        <div class="row">
            <div class="col-sm-2">
                <%- include('./common/sidebar.ejs',{page_name:'Services'})%>
            </div>
              
            <!--</main> -->
            <div class="col-sm-10">
                <!-- main content -->
                 <div class="container mt-5">
                    <h1 class="text-warning mb-5 border-bottom">Achivements And Projects</h1>
                    <div class="row text-center text-white mb-5">
                        <div class="col-sm-4">
                            <i class="fa-solid fa-cloud fa-2x mb-3 i-color "></i>
                            
                            <h3>Weather Application</h3>
                            <p class="ss-color"> User can check about humidity , weather and temperature details of any city . 
                                By using API weather details of city is fetched.<br>
                              •	Technology Stack:  Html, Css , Javascript.</p>
                              <a href="https://wethersearch.netlify.app" style="text-decoration: underline;">Project Link</a>
                        </div>
                        <div class="col-sm-4">
                            <i class="fas fa-music fa-2x mb-3 i-color"></i>
                            <h3>Music Player</h3>
                            <p class="ss-color">My music player consist of my own Music Album.<br>
                                •	Technology Stack:  Html, Css , Javascript.<br>
                                <a href="https://playmus.netlify.app/" style="text-decoration: underline;">Project Link</a>
                            </p>
                        </div>

                        <div class="col-sm-4">
                            <i class="fas fa-hamburger fa-2x mb-3 i-color"></i>
                            <h3>Cafe Management System</h3>
                            <p class="ss-color">Developed a website which contains adding ,removing and displaying offers in menu is one of the feature.<br> 
                                • Technology Stack:  HTML, CSS, JavaScript,React,Express.js.<br>
                                •	Database: Mongodb .<br>
                                <a href="https://sensational-entremet-6bbf9c.netlify.app" style="text-decoration: underline;">Project Link</a>
                                .</p>
                        </div>

                    </div>
                    <!-- //Add later acheivemnts -->
                    <!-- <div class="row text-center text-white mb-5">
                        <div class="col-sm-4">
                            <i class="fas fa-search-dollar fa-2x mb-3 i-color"></i>
                            <h3>SEO</h3>
                            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur voluptatibus, voluptate eos
                                vero exercitationem quaerat nisi quo veritatis. Nobis laborum nemo amet velit quidem perferendis cum voluptatem
                                aperiam accusamus earum.</p>
                        </div> -->
                        <!-- <div class="col-sm-4">
                            <i class="fas fa-code fa-2x mb-3 i-color"></i>
                            <h3>Achivement</h3>
                            <p class="ss-color">
                                <img src="./images/presentationwinner.jpg" alt="profile" class="img-fluid  " width="200px" height="80px">
                                Winner of G20 3rd  EWG Presentation.</p>
                        </div> -->
                        <!-- <div class="col-sm-4">
                            <i class="fas fa-code fa-2x mb-3 i-colorui4"></i>
                            <h3>Wb Development</h3>
                            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur voluptatibus, voluptate eos
                                vero exercitationem quaerat nisi quo veritatis. Nobis laborum nemo amet velit quidem perferendis cum voluptatem
                                aperiam accusamus earum.</p>
                        </div> -->

                    </div>
                 </div>
                <!-- <h1 class="satisfy-regular">Service Page</h1> -->
            </div>
        </div>
       </div>
<%- include('./common/footer.ejs')%>  