

<div class="border-end border-warning h-100" >
    <div class="text-center">
        <img src="./images/profile.jpg" alt="profile" class="img-fluid rounded-circle mt-3" width="200px" height="120px">
        <h3 class="text-white mt-3 satisfy-regular">Disha Runwal</h3>
    </div>
    <nav class="nav flex-column text-center mt-4 ">
      <a href="/" class="nav-link <% if(page_name=='Home'){%> active<% } %>">Home</a>
      <a href="/services" class="nav-link <% if(page_name=='Services'){%> active<%}%>">Projects</a>
      <a href="/skill" class="nav-link <% if(page_name=='Skill'){%> active<%}%>">Skills</a>
      <a href="/contact" class="nav-link <% if(page_name=='Contact'){%> active<%}%>">Contact</a>
    </nav>
</div>
